In [3]:
import os
import pandas as pd

In [4]:
df=pd.read_csv("../Dataset/spam_or_not_spam.csv")

In [5]:
df.head()

                                               email  label
0   date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...      0
1  martin a posted tassos papadopoulos the greek ...      0
2  man threatens explosion in moscow thursday aug...      0
3  klez the virus that won t die already the most...      0
4   in adding cream to spaghetti carbonara which ...      0

In [6]:
df.columns

Index(['email', 'label'], dtype='object')

In [7]:
df.describe()

             label
count  3000.000000
mean      0.166667
std       0.372740
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [3]:
pwd

'C:\\Users\\samcs\\AI\\mlops\\machine_learning\\machine learning\\notebooks'

In [5]:
from src.get_data import read_params
import argparse
import mlflow
from mlflow.tracking import MlflowClient
from pprint import pprint
import joblib
import os

os.chdir("C:\\Users\\samcs\\AI\\mlops\\machine_learning\\machine learning\\notebooks")

def log_production_model(config_path):
    config=read_params(config_path)
    mlflow_config=config['mlflow_config']
    model_name=mlflow_config['registered_model_name']
    remote_server_uri=mlflow_config['remote_server_uri']
    mlflow.set_tracking_uri(remote_server_uri)
    
    runs=mlflow.search_runs(experiment_ids=1)
    lowest=runs['metrics.accuracy'].sort_values(ascending=True)[0]
    lowest_run_id=runs[runs['metrics.accuracy']==lowest]['run_id'][0]

    client=MLflowClient()

    for mv in client.search_model_versions(f"name={model_name}"):
        mv=dict(mv)

        if mv['run_id']==lowest_run_id:
            current_version=mv['version']
            logged_model=mv['source']
            print(mv,indent=4)

        

log_production_model("../config/params.yaml")

TypeError: object of type 'int' has no len()