In [3]:
import os
import pandas as pd

In [4]:
df=pd.read_csv("../Dataset/spam_or_not_spam.csv")

In [5]:
df.head()

                                               email  label
0   date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...      0
1  martin a posted tassos papadopoulos the greek ...      0
2  man threatens explosion in moscow thursday aug...      0
3  klez the virus that won t die already the most...      0
4   in adding cream to spaghetti carbonara which ...      0

In [6]:
df.columns

Index(['email', 'label'], dtype='object')

In [7]:
df.describe()

             label
count  3000.000000
mean      0.166667
std       0.372740
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000